.home-section {
    @apply mt-20;
  
    h2 {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 1em;
    }
  
    p {
      color: #8C8C8C;
    }
    .wysiwyg-content {
      font-size: 18px;
    
      strong, b {
        font-weight: 500;
      }
  
      ul {
        @apply ml-5;
      }
    }
  
    &__cta {
      @apply mt-20;
    }
  
    .items-slider {
      @apply mt-8;
      // @apply -mb-8;
    }
  
    &--presentation {
      background: $color__background-body;
      @apply pb-20;

        .btn {
            background-color: $color_primary_red;
            color: #fff;
            
            display: block;
            
            height: 53px;
            line-height: 49px;
            
            @apply py-0;
            max-width: 100%;
            text-align: center;
            width: 280px;
        }   
    }
    &--has-bg {
      @apply py-8;
    }

    &--actualites {
      h3 {
        font-size: 30px;
      }
      h4 {
        color: #8C8C8C;
      }
    }
  }