.home-section {
    @apply mt-20;
  
    h2 {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 1em;
    }
  
    p {
      color: #8C8C8C;
    }
    .wysiwyg-content {
      font-size: 18px;
    
      strong, b {
        font-weight: 500;
      }
  
      ul {
        @apply ml-5;
      }
    }
  
    &__cta {
      @apply mt-20;
    }
  
    .items-slider {
      @apply mt-8;
      // @apply -mb-8;
    }
  
    &--presentation {
      background: $color__background-body;
      @apply pb-20;

        .btn {
            background-color: $color_primary_red;
            color: #fff;
            
            display: block;
            
            height: 53px;
            line-height: 49px;
            
            @apply py-0;
            max-width: 100%;
            text-align: center;
            width: 280px;
        }   
    }
    &--has-bg {
      @apply py-8;
    }

    &--actualites {
      background-color: #F7F7F7;
      h3 {
        font-size: 30px;
      }
      h4 {
        color: #8C8C8C;
      }
      .post-categories {
        color: #8C8C8C;
      }
    }
    &--hebergement {
      background-color: #F7F7F7;
    }
}

.widget-recherche {
	.mphb_sc_search-wrapper {
		&:last-child {
		margin-bottom: 0;
		
		}
		p {
		width: 100%;
		margin: 0;
		padding: 1.25em;
		}
	} 
	.mphb_sc_search-form {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.mphb-required-fields-tip {
		display: none;
	}
	.mphb_sc_search-submit-button-wrapper {
		background-color: $color_primary_red;
		color: white;
		text-align: center;
		cursor: pointer;
		input {
			background-color: inherit;
			cursor: pointer;
		}
		&:hover {
			opacity: 0.9;
		}
	}
}
/* Calendrier */
.datepick {
	max-width: 100%;
	color: inherit;
	border: 0;
	border-radius: 0;
	padding: 35px 0;
	box-shadow: 0px 10px 20px rgb(58 64 73 / 10%);
	* {
		color: inherit;
	}
	a {
		color: inherit;
	}
	.datepick-nav {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		padding: 0 30px;
		background: transparent;
		color: inherit;
	} 
	.datepick-ctrl {
		background: transparent;
		color: inherit;
		padding: 0 30px;
    	margin-top: 10px;
		a {
			text-transform: uppercase;
			&:hover {
				color: $color_primary_red;
				background: transparent;
			}
		}
	}
	.datepick-cmd-today {
		flex: 1 0 auto;
		width: auto;
		font-weight: 600;
		font-size: 15px;
		letter-spacing: .02em;
		&:hover {
			background: transparent;
			text-decoration: none;
			color: $color_primary_red;
		}
	}
	.datepick-month-row {
		display: flex;
		flex-wrap: wrap;
	}
	.datepick-month {
		border: 0;
		padding: 0 30px;
		width: 310px;
		.datepick-month-header {
			color: gray;
			display: flex;
			justify-content: center;
			background: transparent;
			font-size: 15px;
			letter-spacing: 0.02em;
			font-weight: 600;
			height: 22px;
			margin-bottom: 5px;
			select {
				height: auto;
				padding: 0 20px 0 0;
				margin-right: 15px;
				background-color: transparent;
				background-position: top 9px right 5px;
				background-size: 9px;
				color: inherit;
				&:last-child {
				margin-right: 0;
				}
			}
		}
		table {
			margin: 0;
			border-collapse: separate;
			border-spacing: 6px;
			thead {
				border: 0;
				th {
				background: transparent;
				color: inherit;
				border: 0;
				font-size: 15px;
				line-height: 28px;
				letter-spacing: 0.02em;
				}
			}
			td {
				border: 0;
				background: transparent;
				.mphb-date-cell {
					background: #f7f7f7;
					color: inherit;
					font-size: 15px;
					letter-spacing: .02em;
					padding: 0;
					line-height: 30px;
					height: 30px;
					width: 100%;
				}
				.mphb-check-in-date, .datepick-selected, .datepick-highlight {
					background: $color_primary_red;
					color: #fff;
				}
			}
		}
		span {
			display: block;
			width: 100%;
			padding: 0.125em 0em;
		}
	}
    
	.datepick-month-row {
		display: flex;
		flex-wrap: wrap;
		clear: left;
	}
	.datepick-cmd-today {
		flex: 1 0 auto;
		width: auto;
		font-weight: 600;
		font-size: 15px;
		letter-spacing: .02em;
	}
	.datepick-cmd-next, .datepick-cmd-prev {
		padding: 0;
		background: #f7f7f7;
		border-radius: 50%;
		overflow: hidden;
		width: 22px;
		height: 22px;
		text-align: center;
		color: #455d58;
	}
	.datepick-cmd-next:before, .datepick-cmd-prev:before {
		display: block;
		width: 100%;
		content: "\f053";
		font-family: "Font Awesome 5 Free";
		font-weight: 700;
		font-size: 10px;
		line-height: 22px;
	}
}