.contact {
    background-position: center;
    .titre {
        color: white;
    }
}

.recherche {
    .mphb_sc_search_results-wrapper {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem;
        .mphb_sc_search_results-info, .mphb-recommendation-title, .mphb-recommendation, .mphb-reservation-cart {
            grid-column: span 12 / span 12;
        }
        .mphb-room-type {
            grid-column: span 4 / span 4;
            .post-thumbnail {
                height: auto;
                width: 100%;
            }
        } 
    }
}