$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color_primary_darkgreen : #2C5057;
$color_primary_lightgreen : #548A82;
$color_primary_brown : #BA7B43;
$color_primary_red : #AD5949;
$color_secondary_beige : #D9CCC5;
$color_secondary_orange : #F2AF5C;
$color_secondary_red : #A66660;

